.project-container {
	display: flex;
	margin-top: 3%;
}

.project-card {
	background: rgba(0, 0, 0, 0) !important;
}

.project-card > img {
	height: 50% !important;
}

.project-title-div {
	margin-top: 15px;
	background: url("../../images/cta2.png");
	height: 140px;
	background-position: center;
	background-repeat: no-repeat;
	text-decoration: none;
	color: black;
}

.project-title-div:hover {
	text-decoration: none;
	color: black;
}

.project-title {
	height: 100px;
	margin-top: 5%;
	font-size: 20px;
}

@media (min-width: 2201px) {
	.project-title {
		height: 100px;
		margin-top: 7%;
		font-size: 35px;
	}
}

@media (min-width: 1920px) and (max-width: 2200px) {
	.project-title {
		height: 100px;
		margin-top: 7%;
		font-size: 30px;
	}
}

@media (min-width: 1440px) and (max-width: 1919px) {
	.project-title {
		height: 100px;
		margin-top: 10%;
		font-size: 30px;
	}
}

@media (min-width: 1280px) and (max-width: 1439px) {
	.project-title {
		height: 100px;
		margin-top: 11%;
		font-size: 30px;
	}

	.project-title-div {
		background-size: contain;
	}
}

@media (min-width: 1024px) and (max-width: 1279px) {
	.project-title {
		height: 100px;
		margin-top: 17%;
		font-size: 25px;
	}

	.project-title-div {
		background-size: contain;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.project-title {
		height: 100px;
		margin-top: 25%;
		font-size: 20px;
	}

	.project-title-div {
		background-size: contain;
	}
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
	.project-title {
		height: 100px;
		margin-top: 20%;
		font-size: 20px;
	}

	.project-title-div {
		background-size: contain;
	}

	.project-container {
		display: block;
	}
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
	.project-title {
		height: 100px;
		margin-top: 35% !important;
		font-size: 17px !important;
	}

	.project-title-div {
		background-size: contain;
	}

	.project-container {
		display: flex;
	}
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	.project-title {
		height: 100px;
		margin-top: 20%;
		font-size: 20px;
	}

	.project-title-div {
		background-size: contain;
	}

	.project-container {
		display: block;
	}
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
}

@media (min-width: 375px) and (max-width: 767px) {
	.project-title {
		height: 100px;
		margin-top: 10%;
		font-size: 20px;
	}

	.project-title-div {
		background-size: contain;
	}

	.project-container {
		display: block;
	}

	.project-card {
		margin-bottom: 10vh;
	}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
	.project-title {
		height: 100px;
		margin-top: 25%;
		font-size: 20px;
	}

	.project-title-div {
		background-size: contain;
	}

	.project-container {
		display: flex;
	}
}

/* iPhone 6/7/8 PORTRAIT*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	.project-title {
		height: 100px;
		margin-top: 17%;
		font-size: 20px;
	}
}

/* iPhone 6/7/8 LANDSCAPE*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
	.project-title {
		height: 100px;
		margin-top: 32% !important;
		font-size: 15px !important;
	}
}

@media only screen and (min-width: 3000px) {
	.project-title {
		margin-top: 4%;
		font-size: 30px;
	}
}
