.about-container {
	height: 100vh;
	background: url("../../images/lightBg.png");
	padding: 0 !important;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

#about-text {
	font-size: 25px;
	z-index: 1;
}

#about-logo {
	height: 30vh;
	z-index: 1;
}

@media (min-width: 2201px) and (max-width: 3000px) {
	#about-text {
		font-size: 30px;
	}
}

@media (min-width: 1920px) and (max-width: 2200px) {
	#about-text {
		font-size: 25px;
	}
}

@media (min-width: 1280px) and (max-width: 1439px) {
	#about-text {
		font-size: 22px;
	}
}

@media (min-width: 1024px) and (max-width: 1279px) {
	.about-container {
		height: 100vh;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	#about-text {
		font-size: 17px;
	}
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
	#about-text {
		font-size: 12px;
	}

	#about-logo {
		height: 20vh;
	}
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
	#about-text {
		font-size: 10px;
	}

	#about-logo {
		height: 20vh;
	}
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	#about-text {
		font-size: 10px;
	}

	#about-logo {
		height: 20vh;
	}
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
	.about-container {
		height: 100vh;
	}

	#about-text {
		font-size: 10px;
	}

	#about-logo {
		height: 20vh;
	}
}

@media (min-width: 375px) and (max-width: 767px) {
	#about-text {
		font-size: 13px;
	}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
	#about-text {
		font-size: 11px;
	}
}
