#contact-section-container {
	height: 110vh;
	background: url("../../images/lightBg.png");
	padding: 0 !important;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.contact-form {
	padding: 5% 20% 0% 20%;
}

#contact-header-top-img {
	padding-bottom: 5vh;
}

.contact-h1 {
	margin: 0;
}

.contact-icon {
	height: 5vh;
	margin-top: 5vh;
}
