.navbar {
	border-radius: 0;
}

.es-logo {
	height: 10vh;
}

.navbar-inner {
	background-color: rgba(0, 0, 0, 0.8) !important;
}

.nav-item > a {
	text-emphasis: none !important;
	text-decoration: none !important;
	color: white !important;
	font-size: 30px;
	padding: 5px;
}

.nav-item > a:hover {
	border: 1px solid white;
}

.navbar-nav > li {
	margin-right: 50px;
}

.navbar-toggler {
	background-color: white !important;
	border-radius: 0% !important;
}

@media (min-width: 1024px) and (max-width: 1279px) {
	.nav-item > a {
		font-size: 20px;
	}
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
	.nav-item > a {
		font-size: 25px;
	}
}
